@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: 210 100% 43%;        /* #0969da */
  --primary-foreground: 0 0% 100%; /* white text on blue */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply font-sans antialiased;
    background-color: var(--background);
    color: var(--foreground);
  }
}
